.headerContainer {
  margin: 0 100px 0 100px;
  display: flex;
}
.nav {
  padding: 15px 0 15px 0;
}
.logo {
  color: white;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}
.navLink {
  color: white;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;

  transition: color 250ms ease;
}

.navLink:nth-child(n + 2) {
  padding-left: 20px;
}
.navLink:hover {
  color: red;
}
